* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: var(--font-family);
}
:root {
    --color-text: rgb(65, 65, 65, 1);
    --color-subs: rgb(145, 148, 150);
    --color-back: #F9FAFC;
    --color-white: #FFFFFF;
    --color-primary: #13BAA6;
    --color-secondary: #4576D6;
    --font-family: 'Poppins', sans-serif;
}
/* HEADER */
.header {
    /*position: absolute; */
    display: flex;
    height: 100px;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--color-white);
    box-shadow: 0px 1px 2px rgba(223, 223, 223, 0.5);
}
    .container_logo {
        display: flex;
        justify-content: center;
        justify-items: center;
        background-color: var(--color-primary);
        width: 423px;
        height: 100px;
        margin-top: 10px;
        margin: 0;
        padding: 18px;
    }
    .l_openRoom{
        display: block;
        align-self: auto;
    }
body {
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 14px;
    line-height: 1.5;
    background: var(--color-back);
}
