/*Nav items*/

.selector-for-some-widget {
    box-sizing: content-box;
  }

.navbar1 {
    display: block;
    margin-left: 100px;
    height: 100px;
    justify-content: flex-start;
    align-items: flex-start;
}
.navbar2 {
    display: block;
    margin-left: auto;
    height: 100px;
    justify-content: flex-end;
    align-items: flex-start;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150%;
}
.list2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 27px;
}
.list > li {
    display: inline-block;
    align-self: auto;
}
.list_item_inicio, .list_item_salas, .list_item_reservas{
    display: block;
    align-self: auto;
    width: 9em;
    text-align: center;
    color: var(--color-text-header);
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 17px;
    transition: 0.2s ease all;
}
.list > li > a:hover {
    color: var(--color-primary);
    
}
.list_item_notif {
    display: block;
    align-self: auto;;
    padding: 28px 17px;
    transition: 0.1s ease all;
}
.list_item_profile{
    display: block;
    align-self: auto;;
    padding: 28px 17px;
    fill: var(--color-text);
    transition: 0.1s ease all;
}
.list_item_reservas{
    color: var(--color-primary);
    border-bottom: 5px solid var(--color-primary);
}
body {
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 14px;
    line-height: 1.5;
    background: var(--color-back);
}
main{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
}