
/*Nav items*/
    .navbar1 {
        display: block;
        margin-left: 100px;
        height: 100px;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .navbar2 {
        display: block;
        margin-left: auto;
        height: 100px;
        justify-content: flex-end;
        align-items: flex-start;
    }
    .list{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150%;
    }
    .list2{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 27px;
    }
    .list > li {
        display: inline-block;
        align-self: auto;
    }
    .list_item_inicio, .list_item_salas, .list_item_reservas{
        display: block;
        align-self: auto;
        width: 9em;
        text-align: center;
        color: var(--color-text-header);
        font-weight: 700;
        font-size: 16px;
        text-decoration: none;
        padding: 10px 17px;
        transition: 0.2s ease all;
    }
    .list_item_salas{
        color: var(--color-primary);
        border-bottom: 5px solid var(--color-primary);
    }
    .list > li > a:hover {
        color: var(--color-primary);
        
    }
    .list_item_notif {
        display: block;
        align-self: auto;;
        padding: 28px 17px;
        transition: 0.1s ease all;
    }
    .list_item_profile{
        display: block;
        align-self: auto;;
        padding: 28px 17px;
        fill: var(--color-text);
        transition: 0.1s ease all;
    }
body {
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 14px;
    line-height: 1.5;
    background: var(--color-back);
}
main{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px 1px 1px 10px;
    border-color: var(--color-primary);
    padding: 40px 40px 40px 30px;
    margin: 2%;
    background-color: var(--color-white);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
} 

.box > h2 {
    padding-bottom: 16px;
    font-size: 1.8rem;
}
.input_form{
    padding: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.labelIcon{
    padding: 8px 40px 8px 8px;
}
.input_select{
    padding: 8px;
    border-radius: 8px;
    border-color: var(--color-subs);
    border: 1.5px solid;
    color: var(--color-text);
    width: 280px;
    height: 40px;
    color: var(--color-text);
}
.input_select:hover{
    background-color: var(--color-back);
}
.input_form_proyector{
    padding: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
#input_proyector{
    width: 30px;
    color: var(--color-text);
}
#input_proyector:hover{
    cursor: pointer;
}
.btnC {
    display: flex;
    background-color: var(--color-secondary);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: auto;
    height: 42px;
    border-radius: 8px;
    padding: 10px 32px;
    margin: 16px;
    font-size: 16px;
    color: var(--color-white);
}
.btnC:hover{
    cursor: pointer;
    background-color: var(--color-secondary-50);
}

.boton_box{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#title{
    margin-bottom: 16px;
}
#salasCreadas{
    opacity: 0;
    visibility: hidden;
    margin: 2%;
}
#mostrarSalas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;

}
.box{
    justify-content: left;
    grid-area: auto;
    position: flex;
    width: auto;
    height: auto;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px 1px 1px 10px;
    border-color: var(--color-primary);
    padding: 20px;
    padding-bottom: 8px;
    margin: 1% 1%;
    background-color: var(--color-white);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
} 

.box > h2 {
    font-size: 1.5rem;
    width: 200px;
    color: var(--color-primary);
}
.box > h3 {
    width: 200px;
    font-size: 0.9rem;
    color: var(--color-text);
}
.box > button {
    font-size: 0.9rem;
    color: var(--color-white);
    padding: 8px;
    margin: 12px 0px;
    background-color: var(--color-error);
    border-radius: 8px;
    border-color: transparent;
    box-shadow: none;
    text-align: center;
}

#emptyState{
    visibility: visible;
    opacity: 1;
    display: flex;
    position: sticky;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    border: solid 1px;
    border-radius: 8px;
    border-color: var(--color-subs);
    margin: 2%;
    padding: 32px;
}

#emptyState > div {
    color: var(--color-subs);
    align-items: center;
    justify-content: center;

}

#toast {
    opacity: 0;
    visibility: hidden;
    display: flex;
    position: fixed;
    border-radius: 8px;
    background-color: var(--color-primary);
    width: 15%;
    height: 60px;
    margin: 2%;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-size: 1.2em;
    bottom: 0;
    left: 0;
    transition: margin-left 1s; 
}
